.DS_Store
__pycache__/
data/
enron_tuples_filter.txt
*/enron_tuples_filter.txt
results/enron_results/
results/enron_results_random/
icl_results/
results/icl_results/
simm/
simm_2/
results/simm/
results/simm_2/
INPUT.md
*/*.aux
*/*.log
*/*.synctex.gz
simulation_main/*.npy
simulation_main/*.png
simulation_inter/*.npy
simulation_inter/*.png
*/simulation_main/*.npy
*/simulation_main/*.png
*/simulation_inter/*.npy
*/simulation_inter/*.png
*old
*old*
*/*old
*/*old*
*_all.py
*/*_all.py
.DS_Store
*/.DS_Store
notebooks/.ipynb_checkpoints/*
tikz_process/*.zip
